@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
}

:root {
  --main-color: #416264;
  --main-dark: #00fff5;
  --gray: #393e46;
  --dark: #222831;
  --dark: #0e1129;

  --secondary-color: #cc00ff;
  --secondary-gray: #d280d8;
}
